/*.redb
/.idea/
/.vagrant
/.vscode
/docs/build
/env
/fuzz/artifacts
/fuzz/corpus
/fuzz/coverage
/fuzz/target
/ord.log
/static/opus-stream-decoder.js
/static/opus-stream-decoder.wasm
/target
/test-times.txt
/tmp
