.common {
}

.uncommon {
  background-color: green;
}

.rare {
  background-color: blue;
}

.epic {
  background-color: purple;
}

.legendary {
  background-color: gold;
}

.mythic {
  background-color: orange;
}
