@import url('/content/969cf0610b1dc284d83b2c078f3042cd0e8eda44ab63b7f104c6014979e8eeabi0');

html {
    color: #98a3ad;
    background-color: #131516;
    max-width: 900px;
    font-family: system-ui, sans-serif;
}
