html {
  height: 100%;
  background-color: #131516;
  color: white;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  margin: 0;
  flex-shrink: 0;
  opacity: 0;
  display: inline-block;
}
