<h1>Address {{ self.address }}</h1>
<dl>
  <dt>sat balance</dt>
  <dd>{{ self.sat_balance }}</dd>
%% if !self.inscriptions.is_empty() {
  <dt>inscriptions</dt>
  <dd class=thumbnails>
%% for inscription in &self.inscriptions {
    {{Iframe::thumbnail(*inscription)}}
%% }
  </dd>
%% }
  <dt>runes balances</dt>
%% for (rune, decimal, symbol) in self.runes_balances.iter() {
%% if let Some(symbol) = symbol {
  <dd><a class=monospace href=/rune/{{ rune }}>{{ rune }}</a>: {{ decimal }}{{ symbol }}</dd>
%% } else {
  <dd><a class=monospace href=/rune/{{ rune }}>{{ rune }}</a>: {{ decimal }}¤</dd>
%% }
%% }
  <dt>outputs</dt>
  <dd>
    <ul>
%% for output in self.outputs.iter() {
      <li><a class=collapse href=/output/{{ output }}>{{ output }}</a></li>
%% }
    </ul>
  </dd>
</dl>
