<h1><a href=/inscription/{{ self.gallery }}>Inscription {{ self.gallery_number }}</a> Gallery</h1>
%% if self.gallery_items.is_empty() {
<h3>No gallery items</h3>
%% } else {
<div class=thumbnails>
%% for id in &self.gallery_items {
  {{ Iframe::thumbnail(*id) }}
%% }
</div>
<div class=center>
%% if let Some(prev_page) = &self.prev_page {
  <a class=prev href=/gallery/{{ self.gallery }}/{{ prev_page }}>prev</a>
%% } else {
prev
%% }
%% if let Some(next_page) = &self.next_page {
  <a class=next href=/gallery/{{ self.gallery }}/{{ next_page }}>next</a>
%% } else {
next
%% }
</div>
%% }
