<header style="display: flex; justify-content: space-between ; align-items: center;">
  <div>
    <h1>Ordinals</h1>
    <nav>
      <a href=https://rodarmor.com/blog/ordinal-theory/>Theory</a>
      <a href=/faq>FAQ</a>
      <a href=/bounties>Bounties</a>
      <a href=https://github.com/casey/ord/blob/master/bip.mediawiki>BIP</a>
      <a href=https://github.com/casey/ord>GitHub</a>
      <a href=https://discord.gg/87cjuz4FYg>Discord</a>
    </nav>
  </div>
  <div>
    <a href=/clock><img src=/clock height=auto width=100 /></a>
  </div>
</header>
<h2>Search</h2>
<form action=/search method=get>
  <input type=text name=query>
  <input type=submit>
</form>
<h2>Recent Blocks</h2>
<ol start={{self.last}} reversed class=monospace style="font-size: 1vw;">
%% for (rarity, hash) in &self.blocks {
  <li><a href=/block/{{hash}} class={{rarity}}>{{hash}}</a></li>
%% }
</ol>
