<h1>Ordinals</h1>
<nav>
  <a href=https://rodarmor.com/blog/ordinal-theory/>Theory</a>
  <a href=https://docs.ordinals.com/faq/>FAQ</a>
  <a href=https://docs.ordinals.com/bounty/>Bounties</a>
  <a href=https://github.com/casey/ord/blob/master/bip.mediawiki>BIP</a>
  <a href=https://github.com/casey/ord>GitHub</a>
  <a href=https://discord.gg/87cjuz4FYg>Discord</a>
  <a href=/clock>Clock</a>
</nav>
<h2>Search</h2>
<form action=/search method=get>
  <input autocapitalize=off autocomplete=off autocorrect=off autofocus name=query spellcheck=false type=text>
  <input type=submit>
</form>
<h2>Recent Blocks</h2>
<ol start={{self.last}} reversed class=monospace>
%% for (rarity, hash) in &self.blocks {
  <li><a href=/block/{{hash}} class={{rarity}}>{{hash}}</a></li>
%% }
</ol>
