<h1 class=light-fg>Children of Inscription <a href=/inscription/{{ self.parent_inscription_id }}>{{ self.parent_inscription_id }}</a></h1>
<div class=thumbnails>
%% for id in &self.children {
  {{ Iframe::thumbnail(*id) }}
%% }
</div>
<div class=center>
%% if let Some(prev_page) = &self.prev_page {
  <a class=prev href=/inscription/{{ self.parent_inscription_id }}/children/{{ prev_page }}>prev</a>
%% } else {
prev
%% }
%% if let Some(next_page) = &self.next_page {
  <a class=next href=/inscription/{{ self.parent_inscription_id }}/children/{{ next_page }}>next</a>
%% } else {
next
%% }
</div>
