<h1 class=light-fg>Inscriptions in <a href=/block/{{ &self.block }}>Block {{ &self.block }}</a></h1>
<div class=thumbnails>
%% for id in &self.inscriptions {
  {{ Iframe::thumbnail(*id) }}
%% }
</div>
<div class=center>
%% if self.has_prev_block {
  <a class=prev href=/inscriptions/block/{{ &self.block - 1 }}>{{ &self.block - 1 }}</a>
%% } else {
  {{ &self.block - 1 }}
%% }
&bull;
%% if let Some(prev_page) = &self.prev_page {
  <a class=prev href=/inscriptions/block/{{ &self.block }}/{{ prev_page }}>prev</a>
%% } else {
prev
%% }
%% if let Some(next_page) = &self.next_page {
  <a class=next href=/inscriptions/block/{{ &self.block }}/{{ next_page }}>next</a>
%% } else {
next
%% }
&bull;
%% if self.has_next_block {
  <a class=next href=/inscriptions/block/{{ &self.block + 1 }}>{{ &self.block + 1 }}</a>
%% } else {
 {{ &self.block + 1 }}
%%  }
</div>
