<h1>Inscription {{ self.inscription_id }}</h1>
<a class=content href=/content/{{self.inscription_id}}>
{{ self.inscription.content_html(self.inscription_id) }}
</a>
<dl>
%% if let Some(content_size) = self.inscription.content_size() {
  <dt>content size</dt>
  <dd>{{ content_size }} bytes</dd>
%% }
%% if let Some(content_type) = self.inscription.content_type() {
  <dt>content type</dt>
  <dd>{{ content_type }}</dd>
%% }
  <dt>genesis height</dt>
  <dd>{{ self.genesis_height }}</dd>
  <dt>genesis transaction</dt>
  <dd><a class=monospace href=/tx/{{ self.inscription_id }}>{{ self.inscription_id }}</a></dd>
  <dt>location</dt>
  <dd class=monospace>{{ self.satpoint }}</dd>
</dl>
