<h1><a href=/inscription/{{ self.target }}>Inscription {{ self.target_number }}</a> Memos</h1>
%% if self.memos.is_empty() {
<h3>No memos</h3>
%% } else {
<div class=thumbnails>
%% for id in &self.memos {
  {{ Iframe::thumbnail(*id) }}
%% }
</div>
<div class=center>
%% if let Some(prev_page) = &self.prev_page {
  <a class=prev href=/memos/{{ self.target }}/{{ prev_page }}>prev</a>
%% } else {
prev
%% }
%% if let Some(next_page) = &self.next_page {
  <a class=next href=/memos/{{ self.target }}/{{ next_page }}>next</a>
%% } else {
next
%% }
</div>
%% }
