<h1>Ordinal {{ self.ordinal.n() }}</h1>
<dl>
  <dt>decimal</dt><dd>{{ self.ordinal.decimal() }}</dd>
  <dt>degree</dt><dd>{{ self.ordinal.degree() }}</dd>
  <dt>name</dt><dd>{{ self.ordinal.name() }}</dd>
  <dt>height</dt><dd>{{ self.ordinal.height() }}</dd>
  <dt>cycle</dt><dd>{{ self.ordinal.cycle() }}</dd>
  <dt>epoch</dt><dd>{{ self.ordinal.epoch() }}</dd>
  <dt>period</dt><dd>{{ self.ordinal.period() }}</dd>
  <dt>offset</dt><dd>{{ self.ordinal.third() }}</dd>
  <dt>rarity</dt><dd>{{ self.ordinal.rarity() }}</dd>
  <dt>block time</dt><dd>{{ self.blocktime }}</dd>
</dl>
%% if self.ordinal.n() > 0 {
<a href=/ordinal/{{self.ordinal.n() - 1}}>prev</a>
%% } else {
<a>prev</a>
%% }
%% if self.ordinal < Ordinal::LAST {
<a href=/ordinal/{{self.ordinal.n() + 1}}>next</a>
%% } else {
<a>next</a>
%% }
