<!doctype html>
<html>
  <head>
    <meta charset=utf-8>
    <title>{{ self.ordinal.degree() }}</title>
  </head>
  <body>
    <dl><dt>number</dt><dd>{{ self.ordinal.n() }}</dd></dl>
    <dl><dt>decimal</dt><dd>{{ self.ordinal.decimal() }}</dd></dl>
    <dl><dt>degree</dt><dd>{{ self.ordinal.degree() }}</dd></dl>
    <dl><dt>name</dt><dd>{{ self.ordinal.name() }}</dd></dl>
    <dl><dt>height</dt><dd>{{ self.ordinal.height() }}</dd></dl>
    <dl><dt>cycle</dt><dd>{{ self.ordinal.cycle() }}</dd></dl>
    <dl><dt>epoch</dt><dd>{{ self.ordinal.epoch() }}</dd></dl>
    <dl><dt>period</dt><dd>{{ self.ordinal.period() }}</dd></dl>
    <dl><dt>offset</dt><dd>{{ self.ordinal.third() }}</dd></dl>
    <dl><dt>rarity</dt><dd>{{ self.ordinal.rarity() }}</dd></dl>
    <dl><dt>block time</dt><dd>{{ self.blocktime }}</dd></dl>
  </body>
</html>
