<h1>Ordinal {{ self.ordinal.n() }}</h1>
<dl>
  <dt>decimal</dt><dd>{{ self.ordinal.decimal() }}</dd>
  <dt>degree</dt><dd>{{ self.ordinal.degree() }}</dd>
  <dt>percentile</dt><dd>{{ self.ordinal.percentile() }}</dd>
  <dt>name</dt><dd>{{ self.ordinal.name() }}</dd>
  <dt>cycle</dt><dd>{{ self.ordinal.cycle() }}</dd>
  <dt>epoch</dt><dd>{{ self.ordinal.epoch() }}</dd>
  <dt>period</dt><dd>{{ self.ordinal.period() }}</dd>
  <dt>block</dt><dd>{{ self.ordinal.height() }}</dd>
  <dt>offset</dt><dd>{{ self.ordinal.third() }}</dd>
  <dt>rarity</dt><dd><span class={{self.ordinal.rarity()}}>{{ self.ordinal.rarity() }}</span></dd>
  <dt>time</dt><dd>{{ self.blocktime }}</dd>
%% if let Some(inscription) = &self.inscription {
  <dt>inscription</dt>
%% match inscription.content() {
%% Some(Content::Text(text)) => {
  <dd>{{ text }}</dd>
%% },
%% Some(Content::Png(png)) => {
  <dd><img src="data:image/png;base64,{{ base64::encode(png) }}"></dd>
%% },
%% None => {
  <dd>UNKNOWN</d>
%% }
%% }
%% }
</dl>
%% if self.ordinal.n() > 0 {
<a href=/ordinal/{{self.ordinal.n() - 1}}>prev</a>
%% } else {
prev
%% }
%% if self.ordinal < Ordinal::LAST {
<a href=/ordinal/{{self.ordinal.n() + 1}}>next</a>
%% } else {
next
%% }
