<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=format-detection content='telephone=no'>
    <link href=/static/preview-text.css rel=stylesheet>
    <script src=/static/preview-text.js defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
  </head>
  <body>
    <pre id="preview"></pre>
    <div id="text" style="visibility: hidden;">{{self.text}}</pre>
    <noscript>
      <pre>{{self.text}}</pre>
    </noscript>
  </body>
</html>
