<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=format-detection content='telephone=no'>
    <link href=/static/preview-text.css rel=stylesheet>
    <script src=/static/preview-text.js defer></script>
    <script>
      let result = document.getElementById('text').innerText;
      try{
        result = JSON.stringify(JSON.parse(result));
      } catch(e) {
console.log('ERROR', e);
      }
      document.getElementById('preview').innerText = result;
    </script>
  </head>
  <body>
    <pre id="text">{{self.text}}</pre>
    <pre id="preview"></pre>
    <noscript>
      <pre>{{self.text}}</pre>
    </noscript>
  </body>
</html>
