<h1>Rune {{ self.entry.rune }}</h1>
%% if let Some(parent) = self.parent {
{{Iframe::main(parent)}}
%% }
<dl>
  <dt>id</dt>
  <dd>{{ self.id }}</dd>
  <dt>number</dt>
  <dd>{{ self.entry.number }}</dd>
  <dt>timestamp</dt>
  <dd><time>{{ timestamp(self.entry.timestamp) }}</time></dd>
  <dt>etching block height</dt>
  <dd><a href=/block/{{ self.id.height }}>{{ self.id.height }}</a></dd>
  <dt>etching transaction index</dt>
  <dd>{{ self.id.index }}</dd>
%% if let Some(end) = self.entry.end {
  <dt>open etching end</dt>
  <dd><a href=/block/{{ end }}>{{ end }}</a></dd>
%% }
%% if let Some(limit) = self.entry.limit {
  <dt>open etching limit</dt>
  <dd>{{ Pile{ amount: limit, divisibility: self.entry.divisibility, symbol: self.entry.symbol } }}</dd>
%% }
  <dt>supply</dt>
  <dd>{{ Pile{ amount: self.entry.supply, divisibility: self.entry.divisibility, symbol: self.entry.symbol } }}</dd>
  <dt>burned</dt>
  <dd>{{ Pile{ amount: self.entry.burned, divisibility: self.entry.divisibility, symbol: self.entry.symbol } }}</dd>
  <dt>divisibility</dt>
  <dd>{{ self.entry.divisibility }}</dd>
%% if let Some(symbol) = self.entry.symbol {
  <dt>symbol</dt>
  <dd>{{ symbol }}</dd>
%% }
  <dt>etching</dt>
  <dd><a class=monospace href=/tx/{{ self.entry.etching }}>{{ self.entry.etching }}</a></dd>
%% if let Some(parent) = self.parent {
  <dt>parent</dt>
  <dd><a class=monospace href=/inscription/{{ parent }}>{{ parent }}</a></dd>
%% }
</dl>
