<h1>{{ self.entry.spaced_rune() }}</h1>
%% if let Some(parent) = self.parent {
{{Iframe::main(parent)}}
%% }
<dl>
  <dt>number</dt>
  <dd>{{ self.entry.number }}</dd>
  <dt>timestamp</dt>
  <dd><time>{{ timestamp(self.entry.timestamp) }}</time></dd>
  <dt>id</dt>
  <dd>{{ self.id }}</dd>
  <dt>etching block height</dt>
  <dd><a href=/block/{{ self.id.height }}>{{ self.id.height }}</a></dd>
  <dt>etching transaction index</dt>
  <dd>{{ self.id.index }}</dd>
  <dt>mint</dt>
%% if let Some(mint) = self.entry.mint {
  <dd>
    <dl>
      <dt>deadline</dt>
%% if let Some(deadline) = mint.deadline {
      <dd><time>{{ timestamp(deadline) }}</time></dd>
%% } else {
      <dd>none</dd>
%% }
      <dt>end</dt>
%% if let Some(end) = mint.end {
      <dd><a href=/block/{{ end }}>{{ end }}</a></dd>
%% } else {
      <dd>none</dd>
%% }
      <dt>limit</dt>
%% if let Some(limit) = mint.limit {
      <dd>{{ Pile{ amount: limit, divisibility: self.entry.divisibility, symbol: self.entry.symbol } }}</dd>
%% } else {
      <dd>none</dd>
%% }
      <dt>mints</dt>
      <dd>{{ self.entry.mints }}</dd>
    </dl>
  </dd>
%% } else {
  <dd>no</dd>
%% }
  <dt>supply</dt>
  <dd>{{ Pile{ amount: self.entry.supply, divisibility: self.entry.divisibility, symbol: self.entry.symbol } }}</dd>
  <dt>burned</dt>
  <dd>{{ Pile{ amount: self.entry.burned, divisibility: self.entry.divisibility, symbol: self.entry.symbol } }}</dd>
  <dt>divisibility</dt>
  <dd>{{ self.entry.divisibility }}</dd>
%% if let Some(symbol) = self.entry.symbol {
  <dt>symbol</dt>
  <dd>{{ symbol }}</dd>
%% }
  <dt>etching</dt>
  <dd><a class=monospace href=/tx/{{ self.entry.etching }}>{{ self.entry.etching }}</a></dd>
%% if let Some(parent) = self.parent {
  <dt>parent</dt>
  <dd><a class=monospace href=/inscription/{{ parent }}>{{ parent }}</a></dd>
%% }
</dl>
