<h1>Rune Balances</h1>
<ul>
%% for (rune, balances) in &self.balances {
  <li>
    <a href=/rune/{{ rune }}>{{ rune }}</a>
    <table>
      <tr>
        <th>outpoint</th>
        <th>balance</th>
      </tr>
      %% for (outpoint, balance) in balances {
      <tr>
        <td>
          <a href=/output/{{outpoint.txid}}:{{outpoint.vout}}>{{outpoint.txid}}:{{outpoint.vout}}</a>
        </td>
        <td>
          {{ balance }}
        </td>
      </tr>
      %% }
    </table>
  </li>
%% }
</ul>
