%% if let Some((Satscard { address, .. }, _address_info)) = &self.satscard {
<h1>Satscard {{ address }}</h1>
%% } else {
<h1>Satscard</h1>
%% }
<form>
  <label for=url>Satscard URL</label>
  <input
    type=text
    id=url
    name=url
    required
  >
  <input type="submit" value="Submit">
</form>
<p>
  <a href=https://docs.ordinals.com/guides/satscards.html>Guide</a>
</p>
%% if let Some((Satscard { address, nonce, slot, state, .. }, address_info)) = &self.satscard {
<dl>
  <dt>slot</dt>
  <dd>{{ slot + 1 }}</dd>
  <dt>state</dt>
  <dd class=satscard-{{ state }}>{{ state }}</dd>
  <dt>address</dt>
  <dd><a class=collapse href=/address/{{address}}>{{ address }}</a></dd>
  <dt>nonce</dt>
  <dd>{{ hex::encode(nonce) }}</dd>
</dl>
%% if let Some(address_info) = &address_info {
{{ Trusted(address_info) }}
%% }
%% }
