<h1>Transaction <span class=monospace>{{self.txid}}</span></h1>
%% if let Some(inscription) = &self.inscription {
<h2>Inscription Geneses</h2>
{{ Iframe::preview(self.txid) }}
%% }
<h2>{{"Output".tally(self.transaction.output.len())}}</h2>
<ul class=monospace>
%% for (vout, output) in self.transaction.output.iter().enumerate() {
%% let outpoint = OutPoint::new(self.txid, vout as u32);
  <li>
    <a href=/output/{{outpoint}} class=monospace>
      {{ outpoint }}
    </a>
    <dl>
      <dt>value</dt><dd>{{ output.value }}</dd>
      <dt>script pubkey</dt><dd class=data>{{ output.script_pubkey.asm() }}</dd>
%% if let Ok(address) = self.chain.address_from_script(&output.script_pubkey) {
      <dt>address</dt><dd class=monospace>{{ address }}</dd>
%% }
    </dl>
  </li>
%% }
</ul>
